# Neon Database URL from https://console.neon.tech
DATABASE_URL='postgresql://neondb_owner:npg_4L3wUpygGnKA@ep-withered-union-a1nu509v-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

# Environment
NODE_ENV=development
PORT=3000
